@font-face {
    font-family: LatoBold;
    src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

.navbar_color{
    background-color: bisque !important;
}

.nav-item a:hover{
    color: rgb(170, 224, 242) !important;
}
.title {
    font-family: LatoBold;
    font-size: calc(1.5rem + 1vw);
}

.nav-text {
    font-family: LatoRegular;
    font-size: calc(0.75rem + 1vw);
}